.notification-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-modal .ant-modal-content {
  background: rgba(0, 0, 2, 0.9) !important; /* Hafif şeffaf koyu arka plan */
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.8); /* Daha yumuşak bir gölge */
  border-radius: 16px; /* Daha zarif kenarlar */
  padding: 20px;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-modal .ant-modal-mask {
  background: rgba(0, 0, 0, 0.6) !important; /* Hafif koyu arka plan */
  backdrop-filter: blur(8px); /* Blur efekti ekle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-modal-image {
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.notification-modal-title {
  font-size: 22px;
  font-weight: 700;
  color: #ff4655; /* Valorant kırmızısı */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.notification-modal-text {
  font-size: 14px;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 20px;
  text-align: center;
}

.notification-modal-button {
  width: 85%;
  background: linear-gradient(135deg, #ff4655 0%, #d83c4b 100%);
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.notification-modal-button:hover {
  background: linear-gradient(135deg, #d83c4b 0%, #ff4655 100%);
  transform: scale(1.05);
}

.notification-modal-close {
  width: 85%;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ff4655;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.3s;
}

.notification-modal-close:hover {
  background: #222;
}
