/*! base start  */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;}

body {
  overflow-x: hidden;
  background: linear-gradient(135deg, #0f0f0f, #ff4655);

}

ul,
ol {
  margin: 0;    
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2, 
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  opacity: 0.4 !important;
  cursor: no-drop;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  font-weight: 500;
  border: 1px solid black;
  transition: 0.2s ease all;
}

.btn-sm {
  line-height: 33px;
}

.btn-lg {
  line-height: 45px;
}

.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef;
}

.btn-primary:hover {
  background-color: #fff;
  color: #1367ef;
}

textarea {
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: gray;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.img-fluid {
  width: 100%;
}

/*! base end  */

/* base responsive  */

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 350px;
  }
}

/* react-slick-css */

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}
html, body {
  overflow-x: hidden;
}
.animated-input {
  position: relative;
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.animated-input:focus {
  border-color: #000000; /* Odaklanıldığında kenar rengi */ 
}

.animated-input::placeholder {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #999;
  font-size: 15px;
  pointer-events: none; /* Tıklanabilir olmasını engeller */
  transition: all 0.3s ease;
}

.animated-input:focus::placeholder {
  top: -20px; /* Placeholder yukarı taşınır */
  left: 10px; /* Hafif sola kayar */
  font-size: 12px; /* Daha küçük olur */
  color: #000000; /* siyaha döner */
  opacity: 1; /* Görünürlüğü artırır */
}